<div class = "container-fluid">
    <app-user-navbar></app-user-navbar>
</div>

<div class = "container-fluid" style="background-color:aquamarine;">
    <h3>User Portal</h3>

    &nbsp;

    <h3> welcome to my movie plan ticket website </h3>
    &nbsp;
</div>


<h2 style="background-color: coral;">Now Playing Movies</h2>

&nbsp;
<div class="row">
    <div class="gallery">
    <div class="column">
<img src="https://thenationalbulletin.in/assets/media/post/795418702_Rrr-poster.jpeg" style="width: 400px;"alt="Italian Trulli">
<figcaption><h3>RRR</h3></figcaption>
</div>
</div>


&nbsp;
&nbsp;
<div class="gallery">
<div class="column">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRd6aE6-NY30iR_TlAqZmD8_x2K9bJRa-LT3Q&usqp=CAU"style="width: 300px; height: 300;"alt="Italian Trulli">
<figcaption><h3>Bahubali</h3></figcaption>
</div>
</div>
&nbsp;
<div class="gallery">
<div class="column">
<img  src="https://images.indianexpress.com/2014/12/pk-review-759.jpg" style="width: 400px;"alt="Italian Trulli">
<figcaption><h3>PK</h3></figcaption>
</div>
</div>
&nbsp;
&nbsp;
<div class="gallery">
<div class="column">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqmyUOvJH6mKavZAGnBxE6tsBEcjX6FhulPA&usqp=CAU"style="width: 300px;"alt="Italian Trulli">
<figcaption><h3>Gangubai</h3></figcaption>
</div>
</div>
<p>&nbsp;

</p>
<div class="gallery">
<div class="column">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQu2ZjdoSGsRpbbBcs9oYrR821ZErtmE1_vnQ&usqp=CAU"style="width: 300px;"alt="Italian Trulli">
<figcaption><h3>Conjuring</h3></figcaption>
</div>
</div>
<div class="gallery">
<div class="column">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSNFgNRquZ9-T5E_8qULWlxDwz3I8HCKTOJpw&usqp=CAU"style="width: 300px;"alt="Italian Trulli">
<figcaption><h3>Pushpa</h3></figcaption>
</div>



