<div class = "container-fluid">
    <nav class = "navbar navbar-expand-sm bg-primary navbar-dark">
        <ul class = "navbar-nav">
            <li class = "nav-item">
                <a routerLink = "/home" routerLinkActive = "active" class = "nav-link" style="color: wheat;"><h4>Home</h4></a> 
            </li>
            &nbsp; 
            <li class = "nav-item">
                <a routerLink = "/admin-account-login" routerLinkActive = "active" class = "nav-link" style="color:wheat; "><h4> Login</h4></a>
            </li>
            &nbsp;
            <li class = "nav-item">
                <a routerLink = "/admin-add-movie-ticket" routerLinkActive = "active" class = "nav-link" style="color: wheat;"><h4>Add Movie Ticket</h4></a>
            </li>
            &nbsp;
            <li class = "nav-item">
                <a routerLink = "/admin-dashboard" routerLinkActive = "active" class = "nav-link"style="color: wheat;"><h4>Dashboard</h4></a>
            </li>
            &nbsp;
            <li class = "nav-item">
                <a routerLink = "/admin-portal" routerLinkActive = "active" class = "nav-link"style="color:wheat;"><h4>Portal</h4></a>
            </li>
            &nbsp;
            <li class = "nav-item">
                <a routerLink = "/admin-remove-movie-ticket" routerLinkActive = "active" class = "nav-link"style="color: wheat;"><h4>Remove Movie Ticket</h4></a>
            </li>
&nbsp;
            <li class = "nav-item">
                <a routerLink = "/admin-update-movie-ticket" routerLinkActive = "active" class = "nav-link"style="color: wheat;"><h4>Update Movie Ticket</h4></a>
            </li>
&nbsp;
            <li class = "nav-item">
                <a routerLink = "/admin-portal" routerLinkActive = "active" class = "nav-link"style="color: wheat;" ><h4>Sign Out</h4></a>
            </li>
        </ul>
    </nav>
</div>